
html,body {
	height:100%;
	background-color: #EEE;
}

#content{
	width: 80%;
	margin: auto;
}

.datepicker__input-container{
	display: inline;
}

.bordered{
  border: 1px solid #EEE;
  border-radius: 3px;
}

.container{
		width: 80%;
		margin: auto;
}
